.associated {
  background-color: #EDEBE4;
  margin-bottom: 176px;


  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #EDEBE4;
    align-items: center;
  }

  img {
    background-color: #EDEBE4;
    padding-bottom: 81px;
    padding-top: 81px;
  }

}
