@media screen and ( max-width: 1700px ) {

  .slider_block {
  max-width: 98vw;

  }




}

@media screen and ( max-width: 1540px ) {
	.container {
		max-width: 95vw;
	}

  .slider_block {
  max-width: 95vw;
    margin-top: 65px;
  }


  .bgpattern {

    top: -100px;
    left: 200px;

    img {
        max-width: 400px;
    }
  }

  .articles-block {
    justify-content: space-around;
    gap: 20px;
  }

  .header-side_area {
    padding-top: 100px;
  }

  .rightblock-subscribe_fixed {
    padding: 50px;

    h3 {
      font-size: 27px;
    }

    p {
      font-size: 14px;
    }

    form input {
      font-size: 14px;
    }

    form button {
      font-size: 22px;
    }
  }



}


@media screen and ( max-width: 1220px ) {

  .slider_left {
    padding-left: 10px;
    max-width: 380px;
  }

  .slider_right {
    padding-right: 10px;
    padding-left: 10px;
  }

  .book_items {
    justify-content: space-around;
    gap:20px;
  }

  .best-book_info {
    margin-left: 55px;
  }

  .sub_title h2 {
    margin-right: 90px;
    padding-left: 20px;
  }

  .sub_title img {
    padding-left: 20px;
  }




}


@media screen and ( max-width: 999px ) {

  .header {
    justify-content: center;
  }

  .slider-arrow_left {
    display: none;
  }

  .slider-arrow_right {
    display: none;
  }

  .slider_block {
    justify-content: center;
  }




}

@media screen and ( max-width: 480px ) {

  .topmenu {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .menu-right a {
    display: none;
  }

  .bgpattern {
    display: none;
  }

  .slider_left p {
    margin-bottom: 30px;
  }

  .button {
    margin-bottom: 20px;
  }

  .slider_left {
    order: 2;
    padding-left: 0px;
    text-align: center;
  }

  .slider_left h1 {
    margin-top: 10px;
  }

  .slider_block {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .heder-line {
    display: none;
  }

  .heder-lineadaptive {
    position: relative;
    top:5px;
    width: 25px;
    height: 25px;
    display: inline-block;
    align-items: center;
    cursor: pointer;
  }

}
